@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  * {
    transition: all 0.2s;
  }

body {
            background-color: #000;
            color:white;
            padding: 0;
            margin: 0;
            cursor: pointer;
            overflow: hidden;
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
        }
  video {
      width: 100%;
      height: 100vh;
      background-color: #000;
      margin: 0;
      padding: 0;
      
  }
  #video-div {
      display: flex;
      flex-direction: column;
      padding: 0;
      height: max-content;
      margin: 0;
      background-color: #26272C;
      }
  #details {
      font-family: 'Open Sans', sans-serif;
      z-index:2;
      font-size: x-large;
      text-align: center;
      align-self: center;
      text-shadow: 1px 1px 3px black;
      position: absolute;

      top:10;
  }
  #center {
          text-shadow: 3.5px 3.5px 0px #282828;
  z-index: 2;
  position: absolute;
  top: 50%;
  display: block;
 align-self: center;
  color:#fff;
  display: flex;
  }
  #center h1 {
      margin-left: 10px;
      margin-right: 10px;
  }
  .overlay {
      background-color: #252323;
      opacity: 0.6;
      z-index: 2;
      margin:5px;
      border-radius: 3px;
      padding: 7px 14px;
  }
  
  #options-div {
      position: absolute;
      right:0;
      top:10;
  }
  #bottom-div {
      position: absolute;
      bottom: 10px;
      white-space: nowrap;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      text-shadow: 0.5px 0.5px 1.5px black;
  }
  #bottom-div .overlay {
    display: inline;
    
  }
  #info {
      padding: 10px;
      font-family: 'Manrope', sans-serif;
  }
  .time {
      font-family: 'Poppins', sans-serif;
      display: inline;
  }
  #seek {
    -webkit-appearance: none;
    background: #695B5C;
    display: inline;
    height: 10px;
    margin: 3px;
    border-radius: 6px;
  }
  #seek::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #FEFDFF;
    cursor: pointer;
  }
  
  #seek::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  #nfscreenopt, #fscreenopt {
      font-size: larger;
  }
  #nfscreenopt {
    display: none;
  }
  #pause {
      display: none;
  }
  #dpip, #epip {
    margin-left: 9px;
  }
  #dpip {
    display: none;
  }
  #loading {
      display: none;
      -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }
  #error {
      padding: 15px;
  display: none;
  position: absolute;
  top: 50%;
  align-self: center;
  z-index: 100;
  border-radius: 3px;
  background-color: #3e3839;
  border: 1px solid black;
  font-family: 'Manrope', sans-serif;
  }
  #error h3 {
      font-family: 'Poppins', sans-serif;
  }

 @media only screen and (max-width:800px) {
  #details {
    font-size: large;
  }
  #seek {
    max-width: 70%;
  }
   }